<div class="bg"></div>
<h3 class="h3">Hello World.</h3>

<div class="head">
  <h3>
    Explore the World!
  </h3>
</div>

<div class="main" id="first">
  <p class='fp'>
    testing my angular skills here
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, placeat numquam. Quam minus repellat, officiis dicta voluptates dolores voluptate, velit omnis libero est consequuntur minima modi. Sint asperiores dignissimos maiores?
  </p>

  <img src="https://images.unsplash.com/photo-1517824806704-9040b037703b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" width="530"/>
</div>

<div class="main">
  <p>
    testing my angular skills here
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, placeat numquam. Quam minus repellat, officiis dicta voluptates dolores voluptate, velit omnis libero est consequuntur minima modi. Sint asperiores dignissimos maiores?
  </p>
    <br />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ab eligendi excepturi repellat corporis iure, et praesentium quaerat repudiandae! Impedit assumenda vero deserunt reiciendis modi a, mollitia saepe quos quis!
  </p>
    <br />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim consectetur doloribus reiciendis, eveniet quas accusantium deserunt sunt nihil ipsa error voluptatem, impedit labore animi qui molestias minima culpa placeat pariatur.
  </p>
    <br />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat vero totam voluptate eos nobis, fugit exercitationem obcaecati quidem, dolorem adipisci nisi! Voluptatum sunt illo facere molestias perspiciatis corrupti, enim asperiores.
  </p>
</div>